
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuario</h2>


<p>Bienvenido al sistema de gestion de datos de TWO WHEELS,
    a continuacion podrá editar, borrar y crear datos según la seccion que corresponda</p>


<!--action="Home/Login"-->